<%-include('../includes/header.ejs')%>
</head>
<body>
	<div class="container">
		<h1>Admin Index</h1>
		<ul>
			<li><a href="/admin/nouveau-site">Nouveau Site de dépistage</a></li>
		</ul>
	</div>
</body>
</html>