<nav>
    <a href="/"><h1>Aller-Retour</h1></a>
    <ul>
        <a href='/connexion'><li>Connexion</li></a>
        <a href='/inscription'><li>Inscription</li></a>
        <a href='/mon-compte'><li>Mon compte</li></a>
        <a href='/paiement'><li>Paiement</li></a>
        <a href='/trajets'><li>Les trajets demandés</li></a>
        <a href='/demander-un-trajet'><li>Demander un trajet</li></a>
    </ul>
</nav>