.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

button:active {
  outline: none;
}

button:focus {
  outline: 0;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}

@media (min-width: 768px) {
  .user-message {
    width: 30rem;
  }
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.select-creneau {
  border: 1px solid #0D324D;
  background-color: white;
  color: #0D324D;
  border-radius: 20px;
  padding: 5px;
}

select:active {
  outline: none;
  border: none;
}

select:focus {
  outline: 0;
}